<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>cabguru</display-name>
	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.cabguru.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/ls</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ForgotpasswordServlet</display-name>
		<servlet-name>ForgotpasswordServlet</servlet-name>
		<servlet-class>com.cabguru.servlet.ForgotpasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgotpasswordServlet</servlet-name>
		<url-pattern>/fps</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BookCabServlet</display-name>
		<servlet-name>BookCabServlet</servlet-name>
		<servlet-class>com.cabguru.servlet.BookCabServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookCabServlet</servlet-name>
		<url-pattern>/bcs</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SignupServlet</display-name>
		<servlet-name>SignupServlet</servlet-name>
		<servlet-class>com.cabguru.servlet.SignupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignupServlet</servlet-name>
		<url-pattern>/sus</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.cabguru.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Log4JInitServlet</servlet-name>
		<servlet-class>com.cabguru.servlet.Log4JInitServlet</servlet-class>
		<init-param>
			<param-name>log4j-properties-location</param-name>
			<param-value>WEB-INF/log4j.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description></description>
		<display-name>AddDriverServlet</display-name>
		<servlet-name>AddDriverServlet</servlet-name>
		<servlet-class>com.cabguru.servlet.AddDriverServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddDriverServlet</servlet-name>
		<url-pattern>/ads</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetInTouchServlet</display-name>
		<servlet-name>GetInTouchServlet</servlet-name>
		<servlet-class>com.cabguru.servlet.GetInTouchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetInTouchServlet</servlet-name>
		<url-pattern>/gits</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BookingStatusServlet</display-name>
		<servlet-name>BookingStatusServlet</servlet-name>
		<servlet-class>com.cabguru.servlet.BookingStatusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookingStatusServlet</servlet-name>
		<url-pattern>/bss</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ManualBookingConfirmationServlet</display-name>
		<servlet-name>ManualBookingConfirmationServlet</servlet-name>
		<servlet-class>com.cabguru.servlet.ManualBookingConfirmationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManualBookingConfirmationServlet</servlet-name>
		<url-pattern>/mbcs</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminBookingHistoryServlet</display-name>
		<servlet-name>AdminBookingHistoryServlet</servlet-name>
		<servlet-class>com.cabguru.servlet.AdminBookingHistoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminBookingHistoryServlet</servlet-name>
		<url-pattern>/abhs</url-pattern>
	</servlet-mapping>
</web-app>